[bumpversion]
current_version = 5.0.5
commit = True
tag = True

[bumpversion:file:eyes_selenium/applitools/selenium/__version__.py]

[bumpversion:file:eyes_robotframework/src/EyesLibrary/__version__.py]

[bumpversion:file:README.rst]
