.idea/*
dist/*
*.pyc
MANIFEST
.cache/
.idea/
applitools/__pycache__/
applitools/utils/__pycache__/
dist/
test/__pycache__/
.envrc
.pytest_cache/
geckodriver.log
.mypy_cache
.eggs
.tox
*.egg-info
.directory
.python-version
