repos:
    - repo: https://github.com/ambv/black
      rev: 20.8b1
      hooks:
          - id: black
            language_version: python3
              # override until resolved: https://github.com/ambv/black/issues/402
            files: \.pyi?$
            types: []

    - repo: https://gitlab.com/pycqa/flake8
      rev: 3.8.3
      hooks:
          - id: flake8
            language_version: python3
            exclude: tests/.*

    - repo: https://github.com/pre-commit/mirrors-isort
      rev: v5.5.2
      hooks:
          - id: isort
            language_version: python3
            args: ["--profile", "black"]
            entry: isort
            additional_dependencies: [toml]

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.2.0
      hooks:
          - id: trailing-whitespace
            args: [--markdown-linebreak-ext=md]
            exclude: \.bumpversion.cfg|tests/.*
          - id: end-of-file-fixer
            exclude: tests/.*
          - id: debug-statements
          - id: check-case-conflict
          - id: check-byte-order-marker
            exclude: tests/.*
          - id: mixed-line-ending
            exclude: tests/.*
            args:
                - --fix=lf
