language: python
addons:
    apt:
        sources:
            - google-chrome
        packages:
            - google-chrome-stable
matrix:
    include:
        - python: 2.7
          env:
              - TOX_ENV=images
        - python: 3.5
          env:
              - TOX_ENV=images
        - python: 2.7
          env:
              - TOX_ENV=integration
        - python: 3.6
          env:
              - TOX_ENV=integration
        - python: 2.7
          env:
              - TOX_ENV=selenium
        - python: 3.6
          env:
              - TOX_ENV=selenium
        - python: 3.6
          env:
              - TOX_ENV=lint
install:
    - npm install -g webdriver-manager
    - webdriver-manager update
    - pip install -U tox
before_script:
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
    - nohup webdriver-manager start --logging=ERROR &
    - sleep 10 # give webdriver some time to start
script:
    - export APPLITOOLS_BATCH_ID=`uuidgen -t`
    - echo $APPLITOOLS_BATCH_ID
    - tox -e $TOX_ENV
