language: python
addons:
    chrome: stable
    firefox: latest
matrix:
    include:
        - python: 2.7
          env:
              - TOX_ENV=unit
        - python: 3.5
          env:
              - TOX_ENV=unit
        - python: 2.7
          env:
              - TOX_ENV=images
        - python: 3.5
          env:
              - TOX_ENV=images
        - python: 2.7
          env:
              - TOX_ENV=integration
        - python: 3.6
          env:
              - TOX_ENV=integration
        - python: 2.7
          env:
              - TOX_ENV=selenium
        - python: 3.6
          env:
              - TOX_ENV=selenium
        - python: 3.6
          env:
              - TOX_ENV=selenium-appium
        - python: 3.6
          env:
              - TOX_ENV=visualgrid
        - python: 3.6
          env:
              - TOX_ENV=lint
install:
    - pip install -U tox
before_script:
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
    - sleep 10 # give webdriver some time to start
    - export APPLITOOLS_BATCH_ID=`uuidgen -t`
script:
    - echo $APPLITOOLS_BATCH_ID
    - tox -e $TOX_ENV
